
### STS, eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### ignore generated directories and compiled output ###
out
bin
target
**/*.class
**/*.jar

### ignore log files ###
**/*.log

### ignore Mac's .DS_Store files ###
**/.DS_Store

### ignore archives ###
*.7z
*.gz
*.rar
*.tar
*.zip


### maven compiled code ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

build/
!**/src/main/**/build/
!**/src/test/**/build/

### maven wrapper ###
.mvn
mvnw*
